@import '../../style/globals.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blueBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #2300ad;
  border-radius: 2px;
  // margin-top: 20px;
  width: 100%;
  height: clamp(50vh, 700px, 90vh);

}

.titleGrid {
  position: relative;
  /* needed for pseudo-element positioning */
  color: white;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
  padding: 10px;

  grid-template-areas:
    "a a a"
    "b b b"
    "c c c"
    "d d d";
}

.titleGrid::before {
  content: "";
  pointer-events: none;
  /* allow clicks to pass through */
  position: absolute;
  inset: 0;
  /* full size */
  background: url('/paper-background.png') repeat;
  opacity: 0.99;
  /* adjust for grain intensity */
  border-radius: inherit;
  /* match border radius */
  z-index: 1;
}

.titleGrid>* {
  position: relative;
  z-index: 2;
}

.grid-a {
  grid-area: a;
  // margin-left: 50px;
  // margin-right: 50px;
}



.grid-b {
  grid-area: b;
  // margin-left: 50px;
  // margin-right: 50px;
}

.grid-c {
  grid-area: c;
  // margin-left: 50px;
  // margin-right: 50px;
}

.grid-d {
  grid-area: d;
  // margin-left: 50px;
  // margin-right: 50px;
}