@import '../../style/globals.scss';

.title-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6rem 2rem;
  
  border-bottom: 1px solid #dee2e6;
  width: 80%;
  
  min-height: 60vh;
}

.title-two {
  margin-bottom: 3rem;
  max-width: 600px;
}


.contact-links {
  ul {
    list-style: none;
  }
}
