@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');


body,
p,
label,
button,
input,
a,
textarea,
select,
ul,
li {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: clamp(50px, 6vw, 80px);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  overflow-wrap: break-word;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: clamp(40px, 5vw, 60px);
  text-align: left;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: clamp(30px, 4vw, 40px);
  text-align: left;
  margin-top: 50px;
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

b {
  color: black;
}

body {
  background-color: white;
  margin: 0;
}
