@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

body,
p,
label,
button,
input,
a,
textarea,
select,
ul,
li {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  word-wrap: break-word;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 10vw;
  font-weight: 200;
  font-style: normal;
  text-align: left;
  padding: 10px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  margin: 0;
  max-width: 90%;
  margin: 0 auto;
  overflow-wrap: break-word;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 60px;
  text-align: left;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 35px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

b {
  color: black;
}

body {
  background-color: white;
  margin: 0;
}

input {
  width: 80%;
}


// 
.switch {
  display: flex;
  align-items: center;
  font-weight: normal;
}


.active {
  font-weight: bold; 
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.active:hover {
  font-weight: bold; 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.inactive:hover{
  font-weight: bold; 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}



// 

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
    word-wrap: break-word;
  }

  span {
    font-size: 14px;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
    word-wrap: break-word;
  }

  span {
    font-size: 18px;
    word-wrap: break-word;
  }
}