@import './globals.scss';




.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blueBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #2300ad;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  height: clamp(50vh, 700px, 90vh);

}

.titleGrid {
  position: relative;
  /* needed for pseudo-element positioning */
  color: white;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
  padding: 10px;

  grid-template-areas:
    "a a a"
    "b b b"
    "c c c"
    "d d d";
}

.titleGrid::before {
  content: "";
  pointer-events: none;
  /* allow clicks to pass through */
  position: absolute;
  inset: 0;
  /* full size */
  background: url('/paper-background.png') repeat;
  opacity: 0.99;
  /* adjust for grain intensity */
  border-radius: inherit;
  /* match border radius */
  z-index: 1;
}

.titleGrid>* {
  position: relative;
  z-index: 2;
}

.grid-a {
  grid-area: a;
  // margin-left: 50px;
  // margin-right: 50px;
}



.grid-b {
  grid-area: b;
  // margin-left: 50px;
  // margin-right: 50px;
}

.grid-c {
  grid-area: c;
  // margin-left: 50px;
  // margin-right: 50px;
}

.grid-d {
  grid-area: d;
  // margin-left: 50px;
  // margin-right: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}


.switch {
  display: flex;
  align-items: center;
  font-weight: normal;
}


.active {
  font-weight: bold; 
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.active:hover {
  font-weight: bold; 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.inactive:hover{
  font-weight: bold; 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}




.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}



.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.blog-overview {
  border-radius: 2px;
  border-style: solid;
  border-color: blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: clamp(320px, 40vw, 600px);
  margin-left: auto;
  margin-right: auto;
}