// .content {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
//   margin: 20px;
// }

.blog-overview {
  border-radius: 2px;
  border-style: solid;
  border-color: blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: clamp(320px, 40vw, 600px);
  margin-left: auto;
  margin-right: auto;
}